.principal-hero{
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;

}

/*Logo de netflix */
.principal-hero .netflix-series{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.principal-hero .netflix-series .netflix{
    width: 2rem;
    height: 2rem;
}

.principal-hero .netflix-series .netflix img{
    width: 100%;
}

.principal-hero .netflix-series p{
    letter-spacing: 5px;
}


/*información de la página*/
.principal-hero .serie{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.principal-hero .serie .logo-serie{
    max-width:26rem;
    filter: drop-shadow(2px 2px 4px white);
    min-height: 10rem;
    display: flex;
    align-items: center;
}

.principal-hero .serie .logo-serie img{
    width: 100%;
}

.principal-hero .serie .info{
    display: flex;
    gap:20px;
}

.principal-hero .serie .info .item{
    color: rgba(255,255,255,0.5);
    letter-spacing: 2px;
}

.principal-hero .serie .info .category button{
    width: 50px;
    height: 18px;
    background: #e50914;
    border: 0;
    border-radius: 2px;
}


.principal-hero .serie .descripcion-parrafo{
    margin-top: 10px;
    width: 60%;
    letter-spacing: 2px;
    line-height: 1.4;
}



/*estilos de los botones*/
 .buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

 .buttons .btn{
    border-radius: 2px;
    color: #fff;
    width: 6.25em;
    height: 2rem;
    border: none;
    text-align: center;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    & span{
        z-index: 2;
        position: relative;
        transition: all .3s ease
    }
}

 .buttons .btn:hover{
    cursor: pointer;
}


/*estilo del boton de play*/
 .buttons .play{
    background: #e50914;
    margin-right: 20px;
}

 .buttons .play::after{
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 100px;
    transition:all 0.5s ease-in-out;
    transform-origin: center;
}

 .buttons .play:hover::after{
    transform: scale(400);
    background: #fff;
}

 .buttons .play:hover span{
    color: black;

}

/*estilo del boton de list*/
 .buttons .list{
    background: none;
    transition:all 0.4s ease-in-out;

}

/*

.list svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.list rect {
	width: 100%;
	height: 100%;
	stroke: #faf7f7;
	stroke-width: 5px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}

.list:hover rect {
	stroke-dashoffset: 0;
}*/

.buttons .list:hover{
    border: 2px #fff solid;
}


/* Celulares (≤599px) */
@media (max-width: 599px) {

    .principal-hero{
        padding: 10px 20px;
    }

    .principal-hero .netflix-series{
        transform: scale(0.6);      
    }

    .principal-hero .serie .info{
        width: 100%;
        gap: 0px;
        justify-content: space-around;
        font-size: 0.8rem

    }

    
    .principal-hero .serie .logo-serie{
        margin-top: 0px;
        width: 60%;
    }


    .principal-hero .serie .descripcion-parrafo{
        margin-top: 30px;
        width: 100%;
        font-size: 0.9rem;
    }

  .buttons {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

  .buttons .btn {
        width: 100%;
        height: 2.5rem;
        font-size: 1rem;
    }
}



